*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#f9d349,20%, #d57e12);
    position: relative;
}
.hero header .hero h2 a{
    display: block;
    font-size: 600;
    text-decoration: none;
    color: white;
}
.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}
.topnav {
    overflow: hidden;
    background-color: grey;
}
/* style the link inside the navigation bar */  
.topnav a{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}    
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

.content{
    padding-top: 140px;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}
.content .main-text h6{
    font-size: 50px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.content .main-text h1{
    font-size: 100px;
    line-height: 1;
    color: white;
    margin: 0px 0px 45px;
    font-family: 'permanent marker',cursive;
}
.content .main-text h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.content .main-text p{
    max-width: 100px;
    width: 480px;
    color:white;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.content .main-text a.cta{
    border: 1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;    
}
.content .main-text a.cta i{
    margin-right: 12px;
}
.content .main-text a.cta:hover{
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}
.content .social{
    position: relative;
    z-index: 2;
    margin-top: 200px;
    padding-bottom: 40px;
}
.content .social a{
    display: inline-block;
    color: #f5dcac;
    margin-right: 25px;
    font-size: 24px;    
}
.content .social a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: white;
}
.image{
    position: absolute;
    width: 60%;
    height: 45%;
    bottom: 250px;
    right: 0;
    text-align: justify;
    
}
.image img{
    height: 100%;
}
